.silc-display {
    display: block;

    &--flex {
        display: flex;
    }

    &--inline-block {
        display: inline-block;
    }

    &--inline {
        display: inline;
    }
}

.silc-hide {
    display: none;
}

@each $breakpoint-name, $breakpoint-width in $silc-core--breakpoints {

    @include media($breakpoint-name) {

        .silc-display--block-#{$breakpoint-name} {
            display: block;
        }

        .silc-display--flex-#{$breakpoint-name} {
            display: flex;
        }

        .silc-display--inline-#{$breakpoint-name} {
            display: inline;
        }

        .silc-display--inline-block-#{$breakpoint-name} {
            display: inline-block;
        }

        .silc-hide--#{$breakpoint-name} {
            display: none;
        }

    }

}
